#################
## Eclipse
#################
.classpath
.project
.settings/
elc

#################
## Maven
#################

#################
## Angular
#################
src/main/frontend/package-lock.json
src/main/frontend/package.json
src/main/resources/static/index.html
src/main/resources/static/main.js
src/main/resources/static/main.js.map
src/main/resources/static/polyfills.js
src/main/resources/static/polyfills.js.map
src/main/resources/static/runtime.js
src/main/resources/static/runtime.js.map
src/main/resources/static/styles.js
src/main/resources/static/styles.js.map
src/main/resources/static/vendor.js
src/main/resources/static/vendor.js.map
src/main/resources/static/color.png
src/main/resources/static/common.js
src/main/resources/static/common.js.map
src/main/resources/static/fontawesome-webfont.eot
src/main/resources/static/fontawesome-webfont.svg
src/main/resources/static/fontawesome-webfont.ttf
src/main/resources/static/fontawesome-webfont.woff
src/main/resources/static/fontawesome-webfont.woff2
src/main/resources/static/glyphicons-halflings-regular.eot
src/main/resources/static/glyphicons-halflings-regular.svg
src/main/resources/static/glyphicons-halflings-regular.ttf
src/main/resources/static/glyphicons-halflings-regular.woff
src/main/resources/static/glyphicons-halflings-regular.woff2
src/main/resources/static/hue.png
src/main/resources/static/line.gif
src/main/resources/static/loading.gif
src/main/resources/static/modules-admin-admin-module.js
src/main/resources/static/modules-admin-admin-module.js.map
src/main/resources/static/modules-static-country-country-module.js
src/main/resources/static/modules-static-country-country-module.js.map
src/main/resources/static/modules-static-currency-currency-module.js
src/main/resources/static/modules-static-currency-currency-module.js.map
src/main/resources/static/modules-static-holiday-holiday-module.js
src/main/resources/static/modules-static-holiday-holiday-module.js.map
src/main/resources/static/modules-static-parameter-parameter-module.js
src/main/resources/static/modules-static-parameter-parameter-module.js.map
src/main/resources/static/open-sans-v15-latin-300.eot
src/main/resources/static/open-sans-v15-latin-300.svg
src/main/resources/static/open-sans-v15-latin-300.ttf
src/main/resources/static/open-sans-v15-latin-300.woff
src/main/resources/static/open-sans-v15-latin-300.woff2
src/main/resources/static/open-sans-v15-latin-700.eot
src/main/resources/static/open-sans-v15-latin-700.svg
src/main/resources/static/open-sans-v15-latin-700.ttf
src/main/resources/static/open-sans-v15-latin-700.woff
src/main/resources/static/open-sans-v15-latin-700.woff2
src/main/resources/static/open-sans-v15-latin-regular.eot
src/main/resources/static/open-sans-v15-latin-regular.svg
src/main/resources/static/open-sans-v15-latin-regular.ttf
src/main/resources/static/open-sans-v15-latin-regular.woff
src/main/resources/static/open-sans-v15-latin-regular.woff2
src/main/resources/static/password-meter.png
src/main/resources/static/primeicons.eot
src/main/resources/static/primeicons.svg
src/main/resources/static/primeicons.ttf
src/main/resources/static/primeicons.woff
src/main/resources/static/scripts.js
src/main/resources/static/scripts.js.map
target/
src/main/resources/static/
.springBeans